html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    color: #0E1116;
    background-color: whitesmoke;
    scroll-behavior: smooth; }
#container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0; }
#navbar {
    position: fixed;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-right: 1px solid #E1E1E1; }
#navbar p {
    margin: 0;
    background-color: #E36588; }
#navbar p a {
    color: white;
    border: 0; }
#navbar a {
    display: block;
    padding: 1em 2em;
    border-top: 1px solid #E1E1E1; }
#main-doc {
    width: 80%;
    margin: 0 0 0 20%;
    padding: 0;
    border: 0; }
.main-section {}
#section_id, #section_id2, #section_id3, #section_id4, #section_id5 {
    color: #; }
h1 { 
    margin: 0;
    padding: 1em;
    font-weight: 300;
    color: #E36588; }
p { 
    margin: 0 2em 1em 2em; }
p code, li code {
    display: inline;
    margin: 0;
    padding: 0.2em; }
a {
    color: #E36588;
    text-decoration: none;
    -webkit-transition: .20s ease;
    -o-transition: .20s ease;
    transition: .20s ease; }
a:hover {
    color: #9A275A; }
code {
    display: block;
    margin: 1em 4em;
    padding: 1em 1em;
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9em;
    line-height: 1.6;
    color: white;
    border: 0 solid #E1E1E1;
    border-width: 1px;
    border-radius: 4px;
    background-color: #E36588; }
ul {
    margin: 1em 2em;
    list-style: circle inside; }
li {
    margin: 0.5em 0;
    font-size: 0.8em; }
hr {
    margin: 2em 2em 0 2em;
    width: calc(100% - 2em);
    border-width: 0;
    border-top: 1px solid #E1E1E1; }

/* from fabriq */

/* flexbox classes */

.g0 { -webkit-box-flex: 0; -ms-flex-positive: 0; flex-grow: 0; }
.g1 { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }
.g2 { -webkit-box-flex: 2; -ms-flex-positive: 2; flex-grow: 2; }

.s0 { -ms-flex-negative: 0; flex-shrink: 0; }
.s1 { -ms-flex-negative: 1; flex-shrink: 1; }

.f20 { -ms-flex-preferred-size: 20%; flex-basis: 20%; }
.f20 { -ms-flex-preferred-size: 20%; flex-basis: 20%; }
.f40 { -ms-flex-preferred-size: 40%; flex-basis: 40%; }
.f60 { -ms-flex-preferred-size: 60%; flex-basis: 60%; }
.f80 { -ms-flex-preferred-size: 80%; flex-basis: 80%; }
.f100 { -ms-flex-preferred-size: 100%; flex-basis: 100%; }

.f33 { -ms-flex-preferred-size: 33.33%; flex-basis: 33.33%; }
.f66 { -ms-flex-preferred-size: 66.66; flex-basis: 66.66%; }

.p {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
.jus-ctr {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
.ali-ctr {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

/* forms + inputs */

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 1em 2em;
    padding: 1em 1em;
    width: calc(100% - 4em);
    font-family: "Montserrat", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.6;
    border: 0 solid #E1E1E1;
    border-width: 1px;
    border-radius: 4px;
    box-shadow: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
textarea {
    min-height: 15em;
    padding 2.5rem 0; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    outline: 0; }
input[type="checkbox"],
input[type="radio"] {
    display: inline; }
label {
    margin: 0 2rem 0.5rem 2rem;
    letter-spacing: -.05rem; }

/* buttons */

.button-alt,
button,
input[type=submit],
input[type=reset],
input[type=button] {
    margin: 1em 2em;
    padding: 1em 2em;
    font-size: 0.8em;
    line-height: 1.6;
    background-color: #E36588;
    border: 0 solid #E36588;
    border-width: 1px;
    border-radius: 4px;
    text-align: center;
    color: whitesmoke;
    cursor: pointer;
    box-sizing: border-box; 
    -webkit-transition: .20s ease;
    -o-transition: .20s ease;
    transition: .20s ease; }
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    background-color: #9A275A;
    border-color: #9A275A;
    outline: 0; }
.button-alt {
    color: #E36588 !important; 
    background-color: whitesmoke !important;
    border-color: #E36588 !important; }
.button-alt:hover,
.button-alt:focus {
    color: #9A275A !important;
    border-color: #9A275A !important;
    outline: 0 !important; }

@media (max-width: 768px) {
    #navbar {
        position: relative;
        width: 100%;
        height: auto;
        border: 0;
        border-bottom: 1px solid #E1E1E1; }
    #main-doc {
        width: 100%;
        margin: 0; }
    code {
        margin: 1em 1em;
        overflow-x: scroll; }
    ul {
         margin: 1em 1em; }}